---
- name: Deploy application
  hosts: web
  become: yes
  become_user: "{{ server_user }}"

  tasks:
    - name: Pull latest code
      git:
        repo: "git@github.com:yourusername/heroesandmore.git"
        dest: "{{ app_path }}"
        version: main
        accept_hostkey: yes
      register: git_result

    - name: Create virtualenv
      command: python3.12 -m venv {{ venv_path }}
      args:
        creates: "{{ venv_path }}/bin/activate"

    - name: Install requirements
      pip:
        requirements: "{{ app_path }}/requirements.txt"
        virtualenv: "{{ venv_path }}"
      when: git_result.changed

    - name: Run migrations
      command: "{{ venv_path }}/bin/python manage.py migrate --noinput"
      args:
        chdir: "{{ app_path }}"
      when: git_result.changed

    - name: Collect static files
      command: "{{ venv_path }}/bin/python manage.py collectstatic --noinput"
      args:
        chdir: "{{ app_path }}"
      when: git_result.changed

    - name: Restart application
      become: yes
      become_user: root
      command: supervisorctl restart {{ app_name }}:*
      when: git_result.changed

- name: Post-deploy tasks
  hosts: web
  become: yes
  tasks:
    - name: Reload Nginx
      systemd:
        name: nginx
        state: reloaded
