---
# Quick deploy - just pull code, no config changes
# Usage: ansible-playbook -i servers gitpull.yml
- name: Quick deploy - git pull only
  hosts: web
  become: yes
  become_user: "{{ server_user }}"

  tasks:
    - name: Pull latest code
      git:
        repo: "{{ git_repo }}"
        dest: "{{ app_path }}"
        version: "{{ git_branch }}"
        force: yes
        accept_hostkey: yes
      register: git_result

    - name: Install new requirements
      pip:
        requirements: "{{ app_path }}/requirements.txt"
        virtualenv: "{{ venv_path }}"
      when: git_result.changed

    - name: Run migrations
      command: "{{ venv_path }}/bin/python manage.py migrate --noinput"
      args:
        chdir: "{{ app_path }}"
      when: git_result.changed

    - name: Collect static files
      command: "{{ venv_path }}/bin/python manage.py collectstatic --noinput"
      args:
        chdir: "{{ app_path }}"
      when: git_result.changed

    - name: Restart application
      become: yes
      become_user: root
      command: supervisorctl restart {{ app_name }}:*
